.hero {
	width: 100%;
	height: 70vmin;
	object-fit: cover;
}

.song-body {
	height: 30vmin;
}

.song-text {
	display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}