
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif, -apple-system, BlinkMacSystemFont, 'Tahoma', 'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
  color: #ff85b7
}
.link:hover {
   color: #fa5a9c
}

audio::-webkit-media-controls-panel {
  background-color: rgba(255, 255, 255, 0.8);
}